asgiref
astroid
autopep8
certifi
cffi
charset-normalizer
cryptography
defusedxml
dill
dj-rest-auth
Django
django-allauth
django-filter
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
exceptiongroup
gunicorn
idna
iniconfig
isort
lazy-object-proxy
Markdown
mccabe
oauthlib
packaging
platformdirs
pluggy
psycopg2-binary
pycodestyle
pycparser
PyJWT
pylint
pylint-django
pylint-plugin-utils
pytest
python3-openid
pytz
requests
requests-oauthlib
sqlparse
tomli
tomlkit
typing_extensions
urllib3
wrapt
